.game-play {
    background-image: url("../../assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .game-board {
        background-color: #fff;
        width: 710px;
        height: 780px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;

        .top-info, .bottom-info {
            display: flex;
            justify-content: space-between;
            padding: 15px 45px;
            color: #23144B;
            font-size: 15px;


            span {
                font-weight: 700;
            }
        }

        .game-grids {
            height: 700px;
            margin: 0 40px;
            // border: 3px solid #853594;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}